/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /* ------------------ Контрольная панель------------------------*/

  /* ------------------ Управление текстом------------------------*/
  /* ------------------ Основной шрифт------------------------*/
  --font-family: 'IBM Plex mono';

  /* ------------------ Управление цветом------------------------*/
  /* ------------------ Управление цветом текста основного заголовка и тени------------------------*/
  --title-color: #db00ff;
  --title-shadow-color: #ff0070;
 /* ------------------ Управление цветом текста и фона текста описания заголовка------------------------*/
  --title-description-bg-color: #ff0070;
  --title-description-color: #000028;
  /* ------------------ Управление цветом текста навигационного меню------------------------*/
  --nav-menu-color: #ff0070;
  /* ------------------ Управление цветом выделения навигационного меню------------------------*/
  --nav-menu-activ-color: #ff0070;
  --nav-menu-alt-color: rgba(255, 0, 112, 0.4);
/* ------------------ Управление цветом декоративной части REC------------------------*/
  --rec-color: #ff0070;
/* ------------------ Управление цветом REC Точки и тени------------------------*/
  --point-color: #ff0070;
  --point-shadow-color: #ff0070;
/* ------------------ Управление цветом Верхнего уголка------------------------*/
  --corner-up-color: #ff0070;
  /* ------------------ Управление цветом Нижнего уголка------------------------*/
  --corner-down-color: #ff0070;

/* ------------------ Управление цветом заголовков контента------------------------*/
  --title-content-color: #ff0070;
  /* ------------------ Управление цветом подзаголовков контента------------------------*/
  --title-alt-content-color: #000028;
  /* ------------------ Управление цветом фона заголовков контента------------------------*/
  --bg-content-color: #ff0070;
  /* ------------------ Управление цветом описания контента------------------------*/
  --description-content-color: #f1b2ce;
  /* ------------------ Управление тенью ссылок и обводки контента------------------------*/
  --bg-link-content-color: #ff0070;
  --link-outline-color: #f1b2ce;
}








@media (width < 767px) {
  :root {
    --decor-up-top-absolute: 10px;
    --decor-up-right-absolute: 10px;
    --decor-down-bottom-absolute: 10px;
    --decor-down-left-absolute: 10px;
    --rec-right-absolute: 10px;
    --rec-top-absolute: 10px;
    --page-inline-padding: 10px;
    --page-block-padding: 10px;
    --menu-inline-padding: 0px;
    --menu-block-padding: 0px;
    --main-block-padding: 40px;
    --main-inline-padding: 10px;
    --main-content-gap: 50px;
    --picture-gap: 10px;
    --font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (width >= 768px) {
  :root {
    --decor-up-top-absolute:  20px;
    --decor-up-right-absolute:  20px;
    --decor-down-bottom-absolute:  20px;
    --decor-down-left-absolute:  20px;
    --rec-right-absolute:  20px;
    --rec-top-absolute:  20px;

    --page-inline-padding: 20px;
    --page-block-padding: 20px;
    --menu-inline-padding: 0px;
    --menu-block-padding: 0px;
    --main-block-padding: 60px;
    --main-inline-padding: 20px;
    --main-content-gap: 80px;
    --picture-gap: 20px;
    --font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}